@model CodeProject.StoreDB.Portal.Classes.ViewModels.PostViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="image group">
        <div class="grid images_3_of_1">
            <img src="@Model.Image" alt="" width="300" height="300" />
        </div>
        <div class="grid news_desc">
            <h3>@Model.CategoryName</h3>
            <h4>@Model.CreatedDate by <span><a href="#">@Model.CreatedBy</a></span></h4>
            <p>
                @Model.Content
            </p>
        </div>
    </div>
</div>

<script>
    var value = $($(".grid.news_desc p")[0]).find("html").context.textContent;
    // var res = document.write(value);

    var wrapper= document.createElement('p');
    wrapper.innerHTML = value;
    // var div= wrapper.firstChild;

    $($(".grid.news_desc p")[0]).find("html").context.textContent = '';
    $($(".grid.news_desc p")[0]).find("html").context.append(wrapper);

</script>